* {
  margin: 0;
  padding: 0;
 background:purple ; 
}
.info {
display: flex;
margin-top: 200px;
align-items: center !important;
justify-content: center;
  background-position:center ;
  height: 250px;
  width: 400px;
  flex-wrap: wrap;
  background-color: cornflowerblue;
}

.lal   {
  color: #fff;
  background-color: cornflowerblue;
}
.in {
  background-color: #a08181 ;
  
  color: #fff;
}
.sub {
  margin-left: 10px;
}